
.app {
    display: flex;
    flex-flow: row;
}

.main {
  flex: 1 1 auto;
}

.sidebar {
  display: flex;
  flex-flow: column;
  flex: 0 0 175px;
  padding-left: 10px;
  color: wheat;
  background-color: rgb(51,51,51);
  height: 100vh; 
}

.sidebar-content {
  flex:1;
}

.sidebar-footer {
  margin-bottom: 10px;
  color: wheat;
  font-size: small;
}